{% extends "base.html" %}

{% load serv_tags %}
{% block content %}

{{ message }}

<div>
	<h2>Download OpenVPN Config</h2>
	{% if key %}
	<div><p>{{ key.name|download_link }}</p></div>
	<div><p>If you are having firewall related download issues, try this link: {{ key.name|nobatch_download_link }}</p></div>
	{% else %}
	<p>This account is inactive, contact the administrator for activation</p>
	{% endif %}
	<div>
		<p>Download the VPN configuration files and instructions for use from the link above.</p>
		<p>Please note that this is configured for use with Windows</p>
		<p>If you have any issues using the VPN, please <a href="mailto:andrew.foran.vr@gmail.com">contact me</a></p>
	</div>
</div>

{% endblock %}